* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

/* PAGES */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

/* HOME PAGE (RED) */
.home {
  background: linear-gradient(45deg, #8e0000, #d32f2f);
}

.hero {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blood-drop {
  width: 120px;
  height: 120px;
  background: #b71c1c;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  margin-bottom: 20px;
}

.hero button {
  padding: 15px;
  width: 70%;
  margin: 10px;
  border-radius: 30px;
  border: none;
}

/* NAVY BLUE PAGES */
.navy {
  background: #0a1a33;
}

/* CARD */
.container {
  max-width: 420px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
}

.secondary {
  background: #ccc;
}

.notify-text {
  color: #0a1a33;
  font-weight: bold;
}
